.topbar-wrapper img[alt="Swagger UI"], .topbar-wrapper span {
    visibility: collapse;
}

.topbar-wrapper .link:after {
    content: url('ekomplet_logo.png');
    position: absolute;
    top: 16px;
}

.swagger-ui .topbar {
    padding: 10px 0;
    background-color: #343b42;
}